@import '~styles/variables';

.PlacesAutocomplete {
  position: relative;

  &__dropdown {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    z-index: 999999;
  }

  &__item {
    cursor: pointer;
    background-color: $white100;
    padding: 5px 10px;
    border: 1px solid $gray350;
    border-top: 0;

    &--active {
      background-color: darken($white100, 10%);
    }
  }
}
