@import '~styles/variables';

.PrimaryButton.Button.ui.button {
  background: $primary;
  color: $white;
  transition: background-color 200ms, color 200ms;

  &:hover {
    background-color: lighten($primary, 10%);
    color: $white;
  }
}
