.StoreManagerAdd {
  display: flex;
  margin-top: 50px;
  margin-bottom: 25px;

  .ui.search.dropdown {
    border-radius: 0 !important;
  }

  .Button.transparent {
    background: transparent !important;
  }
}
