@import '~styles/variables';

.TimeInput {
  position: relative;

  label {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: $blue300;
    font-weight: bold;
  }

  input {
    width: 100%;
  }

  &__error {
    color: $red;
    font-size: 12px;
  }
}

.ui.input input,
.ui.input input:focus {
  background: $white100;
  border-radius: 0;
  font-weight: bold;
}
.ui.input {
  display: block !important;
}
