@import '~styles/variables';
@import '~styles/mixins';

.Footer {
  background: $gray;
  padding: 80px 0 120px 0;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__heading {
    color: $primary;
    margin: 0;

    @media (max-width: $tablet) {
      margin-top: 30px !important;
    }
  }
  &__item {
    a {
      color: $white;
    }
  }
  &__social {
    font-size: 36px;
  }
  &__link {
    color: $primary;
    font-size: 1.28571429rem;
    font-family: $bangla;
    margin-left: 10px;
    font-weight: bold;
  }
  &__logo {
    margin-top: -50px;
    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }
  &__social__link {
    color: $primary;
  }
}
