@import '~styles/variables';

.LetsStart {
  display: flex;
  align-items: center;
  width: 100%;

  &__heading {
    background: $gray100;
    padding: 30px 100px 10px 100px;
    color: $gray;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: $bangla;
    letter-spacing: 2px;
    flex: 1;

    @media (max-width: $tablet) {
      font-size: 30px;
      padding: 30px 10px 10px 10px;
    }
  }

  &__circle {
    width: 190px;
    height: 190px;
    border: 5px solid $primary;
    border-radius: 50%;
    position: relative;
    background: $gray100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: background 500ms;

    &:hover {
      background: $gray200;
      cursor: pointer;
    }
  }

  &__circle1 {
    width: 210px;
    height: 210px;
    border: 4px solid $gray200;
    border-radius: 50%;
    background: $gray100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle2 {
    width: 240px;
    height: 240px;
    border: 10px solid $gray350;
    border-radius: 50%;
    background: $gray200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle3 {
    width: 270px;
    height: 270px;
    border: 2px solid $gray200;
    border-radius: 50%;
    background: $gray300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle4 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: $gray100;
    position: absolute;
    border: none;
  }

  &__circle-wrap {
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: -50px;
    z-index: 50;
  }

  .Hanger {
    transform: rotate(90deg);
    position: absolute;
    left: 25px;
    top: 50px;

    &__icon {
      fill: $primary;
      stroke: $primary;
    }
  }
}
