@import '~styles/variables';
.Step {
  &__wrap {
    display: flex;
  }
  &__icon {
    margin-right: 10px !important;
  }
  &__description {
    color: $primary;
    max-width: 180px;
    font-family: $lato;
    text-align: left;
    font-weight: bold;
  }
  &__wrap {
    margin-top: 15px;
  }
  @media (max-width: $tablet) {
    & {
      margin-bottom: 20px;
    }
  }
}
