.ImageSlideshow {
  animation: imagesSlideshow 12s ease infinite;
  height: 100%;

  &__image {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// @NOTE: currently accept exactly 3 images
@keyframes imagesSlideshow {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(-33.333%);
  }

  53% {
    transform: translateX(-33.333%);
  }

  66% {
    transform: translateX(-66.666%);
  }

  95% {
    transform: translateXž(-66.666%);
  }

  100% {
    transform: translateX(0);
  }
}
