@import '~styles/variables';

.Stores {
  &__filter {
    display: flex;
  }

  @media (max-width: 1200px) {
    &__filter {
      display: block;
    }

    &__search {
      margin-bottom: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      .input-search input {
        min-width: 220px !important;
      }
    }

    &__sort {
      margin-bottom: 15px;
      margin-left: 0 !important;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: $white100;
    font-weight: bold;

    @media (min-width: $desktop-large) {
      flex-grow: 1;
    }

    .input-search input {
      background: $white !important;
      min-width: 298px;
    }

    .search.icon {
      margin-right: 10px;
      font-size: 20px;
      color: $blue100;
    }

    span {
      margin-right: 20px;
      font-size: 20px;
    }
  }

  &__sort {
    margin-left: 15px;

    .Button.ui.button {
      padding: 17px 30px;
      font-size: 20px;

      &.is-active {
        background: $blue100;
      }
    }
  }

  &__distance {
    background: $white100;
    display: flex;

    &__wrap {
      display: flex;
      align-items: center;

      span {
        font-size: 20px;
        font-weight: bold;
      }
      i {
        font-size: 25px;
        margin-right: 15px;
        margin-left: 15px;
        color: $blue100;
      }
    }

    .ui.Button.button--distance {
      background-color: $gray;
      color: $white;
      padding: 15px 15px;
      font-size: 20px;

      &:hover {
        background: $blue100;
        color: $white;
      }
    }
    .ui.input.input--distance input {
      width: 70px;
      background: $white;
      margin: 8px;

      pointer-events: none;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
