@import '~styles/variables';

.Button.ui.button {
  border-radius: 0;
  font-weight: 300;
  padding: 12px 30px;
  color: $black;
  background: $white100;
  font-weight: bold;
  transition: background 300ms;
  &:hover {
    background: $blue100;
    color: $black;
  }
}
