@import '~styles/variables';
.Card {
  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100%;
  }
  &__price {
    color: $gray400;
  }
}
div.actions button.ui.primary.button {
  background: $primary;
  color: $white;
  border-radius: 0;
  font-weight: normal;
  &:hover {
    background-color: lighten($primary, 10%);
  }
}
div.actions button.ui.button {
  border-radius: 0;
}
