@import '~styles/variables';

$padding-left: 150px;
$padding-right: 50px;

.Intro {
  padding-left: $padding-left;
  padding-right: $padding-right;

  @media (max-width: $tablet) {
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 0;
  }

  &__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;

    grid-template-areas:
      'featured-top featured-top title-top title-top title-top title-top'
      'featured-top featured-top . . featured-right featured-right'
      '. . . . featured-right featured-right'
      'title-bottom title-bottom title-bottom title-bottom . .'
      'title-bottom title-bottom title-bottom title-bottom . .';

    @media (max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;

      & > * {
        margin-bottom: 20px;
      }
    }
  }

  &__featured {
    &--top {
      grid-area: featured-top;
    }

    &--right {
      grid-area: featured-right;
    }
  }

  &__title {
    &--top {
      grid-area: title-top;

      margin-bottom: 0 !important;
      padding-left: 40px;
      transform: translateX($padding-right);

      h1 {
        padding-left: 30px;
      }

      .SectionHeading {
        font-size: 40px;
        padding-bottom: 5px;
        padding-left: 40px;
      }

      @media (max-width: $tablet) {
        order: -1;
        padding-left: 0;
        transform: translateX(0);

        h1 {
          padding-left: 0;
          font-size: 40px;
        }

        .SectionHeading {
          padding-left: 10px;
          font-size: 30px;
        }
      }
    }

    &--bottom {
      grid-area: title-bottom;

      .SectionHeading {
        transform: translateX(-$padding-left);
        width: calc(#{100%} + #{$padding-left});
        padding-left: $padding-left;

        @media (max-width: $tablet) {
          max-width: 100%;
          width: auto;
          transform: translateX(0);
          padding-left: 10px;
        }
      }

      .LetsStart {
        transform: translateX(-$padding-left);

        @media (max-width: $tablet) {
          transform: translateX(-20px);

          display: none;
        }
      }
    }
  }
}
