@import '~styles/variables';

.WorkingHours {
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 30px;
    }

    .toggle {
      width: 180px;
    }
  }

  &__time {
    display: flex;
    align-items: center;

    .field {
      width: 140px;
      margin: 0 5px;
    }
  }
}
