@import '~styles/variables';

.TextArea {
  position: relative;

  label {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: $blue300;
    font-weight: bold;
  }

  textarea {
    width: 100%;
    display: block !important;
    padding: 0.67857143em 1em;
    outline: none;

    &::placeholder {
      font-family: $lato;
    }
  }

  &__error {
    color: $red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
  }

  textarea,
  textarea:focus {
    background: $white100;
    border-radius: 0;
    font-weight: bold;
    border: 1px solid $gray350;
  }
}
