@import '~styles/variables';

$modal-border-radius: 22px 22px 0 0 !important;

.HangerModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // hide it behind ui modal
  z-index: 999;
  background: rgba(6, 85, 116, 0.85);
  overflow-x: hidden;
  overflow-y: auto;

  // backdrop
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80%;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.0001) 10.29%,
      #000000 100%
    );
    z-index: -1;
  }

  &__content {
    position: relative;
    max-width: 450px;
    margin: 360px auto 50px auto;
    padding: 25px;
    background-color: white;
    box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.35);
    z-index: 1;
    border-radius: $modal-border-radius;
  }

  &__bar {
    height: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: -1;
  }

  &__back-icon {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(calc(-50% - 4px));
    background: #4a4a4a;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 10px rgba(74, 74, 74, 0.57);
    cursor: pointer;

    &:hover {
      background: lighten(#4a4a4a, 10%);
    }
  }

  .Hanger {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 1000px;

    &__icon {
      fill: $blue500;
      stroke: $blue500;
      stroke-width: 0;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .ProfileMenu__dropdown {
    position: absolute;
    right: 0;
    top: 15px;
  }
}
