@import '~styles/variables';

.StoreLoadMore {
  padding: 40px 0;
  text-align: center;
  &__title {
    color: $black;
    font-weight: bold;
    font-size: 25px;
  }

  .Button.btn--loadMore {
    background: $blue400;
    padding: 15px 80px;
    font-size: 25px;
    &:hover {
      background: $gray100;
    }
  }
}
