@import '~styles/variables';

.Why {
  &__item {
    margin-top: 30px;
    opacity: 0;
    transform: translateX(100px);

    transition: opacity 500ms, transform 500ms;

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        transition-delay: #{$i * 200}ms;
      }
    }

    .Why--isInViewport & {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__images {
    padding: 10px;
    background: $gray100;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
  }

  &__image {
    max-width: 100%;
    padding-top: 100%;

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        background-image: url('~assets/images/why-image-#{$i}.jpg');
      }
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--large {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
