@import '~styles/variables';

.ImageAddRemove {
  position: relative;

  & > div {
    outline: none;
  }

  label {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: $blue300;
    font-weight: bold;
  }

  &__error {
    color: $red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
  }

  &__drop-field {
    background: $gray100;
    border: 1px dashed $gray350;
    padding: 3em 1em;
    text-align: center;
    color: $gray600;

    &.disabled {
      opacity: 0.6;
      cursor: no-drop;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__images {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;

    img {
      max-width: 100%;
      height: 150px;
      margin: 0 auto;
      width: 100%;
      object-fit: cover;
    }
  }

  &__image {
    position: relative;

    cursor: pointer;

    &:hover {
      .ImageAddRemove__overlay {
        opacity: 1;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.7);
    color: $white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: opacity 200ms;
  }
}
