@import '~styles/variables';

$success-bg: #fcfff5;
$success-txt: #2c662d;

$error-bg: #fff6f6;
$error-txt: #9f3a38;

$warning-bg: #fffaf3;
$warning-txt: #573a08;

.NotificationCard {
  width: 200px;
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(black, 0.15);
  border: 1px solid $gray600;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;

  &.success {
    background-color: $success-bg;
    color: $success-txt;
    border-color: $success-txt;
  }
  &.error {
    background-color: $error-bg;
    color: $error-txt;
    border-color: $error-txt;
  }
  &.warning {
    background-color: $warning-bg;
    color: $warning-txt;
    border-color: $warning-txt;
  }

  animation: slideIn 500ms ease-out forwards;
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(black, 0.35);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
