.AppointmentItem {
  margin-bottom: 20px;

  &__date {
    color: #065574;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    height: 47px;
    width: 100%;

    > * {
      margin-right: 6px;
      height: 100%;
      &:last-child,
      &:first-child {
        margin-right: 0;
      }
    }

    &__approve {
      background-color: #b8e986;
    }

    &__decline {
      background-color: #d0021b;
    }

    &__pending {
      background-color: #9b9b9b;
    }

    &__pending-new-date {
      background-color: #e7e7e7;
    }
  }

  &__time {
    color: #171f32;
    font-size: 18px;
    padding: 15px;
    background: #c1c1c1;
    white-space: nowrap;
  }

  &__order {
    display: flex;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;

    span {
      padding: 10px;
    }

    &__icon {
      background-color: #9b9b9b;
    }
  }

  &__icon {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;

    transition: opacity 300ms ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__status {
    position: absolute;
    right: 0;
    top: 100%;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    &.approve {
      background-color: #b8e986;
    }

    &.decline {
      background-color: #d0021b;
    }
  }
}
