.Merchant {
  padding: 80px 0;
  &__heading {
    text-align: center;
    margin-bottom: 30px;
  }
  &__addBtn {
    margin-left: 15px !important;
  }
}

.row div:nth-child(n + 5) {
  margin-top: 20px !important;
}
