@import '~styles/variables';

.Nav {
  position: relative;
  padding: 20px;
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $gray100;
  border-bottom: 2px solid $gray200;

  &__logo {
    width: 250px;
    position: absolute;
    top: 75%;
  }

  &__menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 85%;
  }

  .Hanger {
    transition: transform 300ms, color 300ms;

    &__icon {
      transition: fill 300ms, stroke 300ms;
    }
  }

  &__menuItem {
    margin-right: 45px;
    text-align: center;
    color: $gray600;

    transition: color 300ms;

    &:hover,
    &:active {
      color: $primary;

      .Hanger__icon {
        fill: $primary;
        stroke: $primary;
      }
    }

    &--active {
      color: $primary;

      .Hanger {
        transform: rotate(-13deg);

        &__icon {
          fill: $primary;
          stroke: $primary;
        }
      }
    }
  }

  &__profile {
    background: $secondary;
    display: flex;
    align-items: center;
    padding: 10px 60px 10px 10px;
    margin-top: 8px;
    margin-right: 0;

    i {
      font-size: 22px;
    }

    &--active {
      color: $primary;
    }
  }

  // mobile nav
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
  }

  &__mobile {
    @media (min-width: $tablet) {
      display: none;
    }
    .Hanger {
      cursor: pointer;
      transition: 300ms fill, transform 300ms;
      &__icon {
        &:hover {
          fill: lighten($primary, 10%);
          stroke: lighten($primary, 10%);
        }
      }
    }

    &--active {
      color: $primary;

      .Hanger {
        transform: rotate(-13deg);

        &__icon {
          fill: $primary;
          stroke: $primary;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    .Nav__logo {
      position: relative;
      width: 100px;
    }

    .Nav__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background: white;
      width: 100%;
      border-bottom: 1px solid $primary;
      top: 100%;
      right: auto;
      left: 0;
      margin-top: 2px;

      z-index: 99999999;
      transform: translateX(200%);

      transition: transform 400ms;

      &--isOpen {
        transform: translateX(0);
      }
    }

    .ui.dropdown {
      width: 100%;

      i {
        margin-right: 15px;
      }
    }

    .Nav__menuItem {
      display: flex;
      align-items: flex-start;
      margin: 0;
      padding: 10px 30px 10px 20px;
      width: 100%;

      svg {
        width: 30px;
        margin-right: 10px;
      }
    }
  }
}
