@import '~styles/variables';

h1 {
  font-size: 83px;
  color: $primary;
}

h2 {
  font-size: 35px;
  color: $primary;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  color: $gray600;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
