// colors
$primary: #065574;
$secondary: #bff6fa;

$gray: #c1c1c1;
$gray100: #f4f4f4;
$gray200: #e7e7e7;
$gray300: #e9e9e9;
$gray350: #e0e0e0;
$gray400: #979797;
$gray600: #4a4a4a;

$white: #fff;
$white100: #f4f4f4;

$blue100: #35d2e2;
$blue200: #1b4d60;
$blue300: #065574;
$blue400: #bff6fa;
$blue500: #3cd1dc;

$red: #d61d4e;
$black: #171f32;
// screen sizes
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;

// fonts
$lato: 'Lato', sans-serif;
$bangla: 'BanglaMN', sans-serif;

// spacing
$section-padding: 80px 0;
