@import '~styles/variables';

$gap: 20px;

.StoreList {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: $gap;
    padding: $gap;

    max-width: 1127px; // from semantic-ui container
    margin-left: auto;
    margin-right: auto;

    &--wrap {
      &:nth-of-type(even) {
        background-color: $gray100;

        .Card__body {
          background-color: $white;
        }
      }

      margin-bottom: $gap;
    }
  }
}
