@import '~styles/variables';

.PasswordReset {
  &__form {
    max-width: 400px;
    margin: 60px auto;

    .Button {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__heading {
    text-align: center;
  }
}
