$gap: 20px;

.StoreProductsList {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: $gap;
    padding: $gap;

    max-width: 1127px; // from semantic-ui container
    margin-left: auto;
    margin-right: auto;
  }
}
