@import '~styles/variables';

.Cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primary;
  box-shadow: 0 0 10px rgba($black, 0.5);
  z-index: 999;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 50%;
    background: $gray;
    height: calc(100% - 10px);
    z-index: -1;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &--opened {
    .Cart__backdrop {
      display: block;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.0001) 10.29%,
        #000000 100%
      ),
      rgba(6, 85, 116, 0.85);
    z-index: -1;

    display: none;
  }

  &__container {
    display: flex !important;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 85px;

    a {
      display: flex;
    }
  }

  &__logo {
    max-width: 150px;
    position: relative;
    top: -8px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__bag {
    display: flex;
    align-items: center;
    background: $primary;
    justify-content: center;
    cursor: pointer;

    &:hover {
      i {
        color: lighten($blue100, 10%);
      }
    }

    @media (min-width: $tablet) {
      width: 200px;
    }

    i {
      color: $blue100;
      font-size: 40px;
      display: flex;
      align-items: center;

      transition: color 300ms;
    }

    &-count {
      background: $red;
      color: $white;
      border-radius: 50%;

      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}
