@import '~styles/variables';

.CartList {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  max-width: 1300px;
  width: 100%;

  &__header {
    background: $gray100;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  &__main {
    padding: 20px;
    margin-bottom: 20px;
    max-height: 60vh;
    overflow: auto;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
