@import '~styles/variables';

.Card {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  &:hover {
    .Card__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($primary, 0.5);

    opacity: 0;
    visibility: hidden;

    transition: opacity 300ms, visibility 300ms;

    .Hanger {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(white, 0.5);
        border-radius: 50%;
        z-index: -1;
        padding: 100%;
      }

      &__icon {
        fill: $primary;
        stroke: $primary;
      }
    }
  }
}
