.StoreBranchCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;

  .ui.card:first-child {
    margin-top: auto;
  }
  .ui.card:last-child {
    margin-bottom: auto;
  }
}
