@import '~styles/variables';

.CartListItem {
  position: relative;
  text-align: center;
  font-size: 16px;

  img {
    margin-bottom: 10px;
    height: 300px;
    object-fit: cover;
  }

  p {
    margin: 0;
  }

  &__price {
    color: $primary;
  }

  i {
    position: absolute;
    top: -7px;
    right: -13px;
    font-size: 20px;
    background: $white;
    border-radius: 50%;
    color: $red;
    cursor: pointer;

    transition: color 300ms;

    &:hover {
      color: darken($red, 10%);
    }
  }
}
