.AppointmentRequestItem {
  &--disabled {
    opacity: 0.5;
    pointer-events: none;

    &::before {
      content: 'Waiting for customer to accept or decline';
      font-weight: bold;
    }
  }

  &__date {
    color: #065574;
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 47px;

    > * {
      margin-right: 6px;
      height: 100%;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__time {
    color: #171f32;
    font-size: 18px;
    padding: 15px;
    background: #c1c1c1;
    white-space: nowrap;
  }

  &__order {
    display: flex;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;

    span {
      padding: 10px;
    }

    &__icon {
      background-color: #9b9b9b;
    }
  }

  &__icon {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 40px;
    flex: 1;

    transition: opacity 300ms ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__approve,
  &__message {
    background-color: #b8e986;
  }

  &__decline {
    background-color: #d0021b;
  }

  &__new-date {
    background-color: #9b9b9b;
  }

  &__order-modal {
    padding: 20px;
  }

  &__order-grid {
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    & > div {
      display: flex;
      flex-direction: column;

      img {
        height: 250px;
        object-fit: cover;
      }
    }

    h3 {
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
    }
  }
}
