@import '~styles/variables';

.SecondaryButton.Button.ui.button {
  background: $blue100;
  color: $primary;
  transition: background-color 200ms, color 200ms;

  &:hover {
    background-color: lighten($blue100, 10%);
    color: $primary;
  }
}
