@import '~styles/variables';

.ImageCrop {
  .ImagesUpload__image {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      max-width: 150px;
      border-radius: 50%;
      border: 3px solid $gray400;
    }
  }

  &__crop-container {
    .ReactCrop {
      width: 100%;

      &__image {
        width: 100%;
      }

      &__crop-selection {
        border-radius: 50%;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__button {
    &:first-child {
      margin-right: auto;
    }
  }
}