@import '~styles/variables';
.NotFound {
  text-align: center;
  padding: 80px 0;
  &__heading {
    font-family: $bangla;
    font-size: 160px;
    margin: 0 !important;
  }
  &__mesage {
    margin: 0 !important;
  }
}
