@import '~styles/variables';

.Login {
  &__form {
    max-width: 400px;
    margin: 60px auto;

    .Button {
      width: 100%;
      margin-top: 20px;
    }
  }
  &__heading {
    text-align: center;
  }

  &__forgot-password {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: $gray350;
    color: $black;
    text-align: center;
    font-size: 18px;

    transition: background-color 200ms;

    &:hover {
      color: $black;
      background-color: darken($gray350, 5%);
    }
  }
}
