@import '~styles/variables';

.HowItWorks {
  background-color: $gray100;
  position: relative;

  &__description {
    font-size: 40px;
    font-family: $bangla;
    color: $gray600;
    margin-bottom: 15px !important;
  }

  &__row {
    position: static !important;
  }

  span {
    color: $primary;
    font-weight: bold;
    font-family: $bangla;
  }

  &__imageWrap {
    position: static !important;
  }

  &__image {
    position: absolute;
    bottom: 0;

    @media (max-width: $tablet) {
      left: 0;
    }
  }

  @media (max-width: $tablet) {
    &__imageWrap {
      min-height: 400px;
    }
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    &__imageWrap {
      min-height: 400px;
    }
  }
}
