@import '~styles/variables';

.SingleProduct {
  &__row {
    display: flex;
    margin-bottom: 32px;
  }
  &__img-wrap {
    flex-basis: 50%;
    padding-left: 25px;

    img {
      width: 100%;
    }
  }
  &__side-images {
    img {
      display: block;
      margin-bottom: 15px;
      cursor: pointer;
      height: 60px;
      object-fit: cover;

      &.selected {
        border: 2px solid $blue200;
      }
    }
  }

  @media (max-width: $mobile) {
    &__row {
      display: block;
    }
    &__description {
      margin-top: 25px;
    }
    &__img-wrap {
      padding-left: 0;
    }
    &__side-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;

      img {
        width: auto;
        max-width: 100%;
        height: 100px;
      }
    }
  }

  &__description {
    flex-basis: 50%;
    padding-left: 25px;
  }

  &__price {
    display: inline-block;
    color: $primary;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__sizes {
    margin: 20px 0;
    display: flex;
    align-items: center;

    $size-border: 1px solid $black;
    span {
      flex: 1 1 auto;
      cursor: pointer;
      padding: 8px;
      text-transform: uppercase;
      border-left: $size-border;
      border-top: $size-border;
      border-bottom: $size-border;
      text-align: center;
      transition: background 300ms ease;

      &:hover {
        background-color: darken(white, 10%);
      }

      &:last-child {
        border-right: $size-border;
      }

      &.selected {
        background-color: $primary;
        color: white;
      }
    }
  }

  &__colors {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__color-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $gray400;
    cursor: pointer;

    &.selected {
      border-color: $primary;
    }
  }

  &__color-error {
    position: absolute;
    top: 100%;
    color: $red;
  }
}
