@import '~styles/variables';

.Checkbox {
  position: relative;
  display: flex;
  align-items: center;

  label {
    text-align: center;
    margin-right: 30px !important;
    color: $blue300;
    font-weight: bold;
  }

  input {
    width: 100%;
  }

  &__error {
    color: $red;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
  }
}

.ui.input input,
.ui.input input:focus {
  background: $white100;
  border-radius: 0;
  font-weight: bold;
  border: 1px solid $gray350;
}
.ui.input {
  display: block !important;
}
