@import '~styles/variables';

section {
  padding: $section-padding;
}

.SectionHeading {
  background: $secondary;
  font-size: 20px;
  padding: 20px 15px 15px 15px;
  margin-bottom: 30px;
  font-family: $bangla;
  color: $gray600;
}
