@import '~styles/variables';

.DropdownInput {
  position: relative;

  label {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: $blue300;
    font-weight: bold;
  }

  input {
    width: 100%;
  }

  &__error {
    color: $red;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
  }
}

.ui.selection.dropdown,
.ui.selection.dropdown:focus {
  background: $white100;
  border-radius: 0;
  font-weight: bold;
}

.ui.selection.dropdown {
  display: block !important;
}
