@import '~styles/variables';

.AppointmentDate {
  text-align: center;

  &__hint {
    color: $primary;
    margin: 30px 0;
    font-weight: bold;
  }

  &__time-fields {
    display: flex;

    .TimeInput {
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }

  &__label {
    display: block;
    text-align: center;
    color: $primary;
    font-weight: bold;
  }
}
