.Register {
  &__heading {
    text-align: center;
  }

  &__divider {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
  }

  &__heading-buttons {
    .Button {
      margin-top: 5px;
      width: 100%;
    }
  }

  &__form {
    max-width: 400px;
    margin: 30px auto 60px auto;

    & > .Button {
      margin-top: 20px !important;
    }

    .Button {
      margin-top: 5px;
      width: 100%;
    }

    .Checkbox {
      margin-top: 30px;
    }
  }
}
