@import '~styles/variables';

.Card {
  &__body {
    background: $white100;
    padding: 25px;
    text-align: center;
  }
  &__title {
    text-align: center;
  }
  &__description {
    color: $black;
  }
}

@media (max-width: $tablet) {
  .Stores div.Card {
    margin-bottom: 15px;
  }
}
