@import '~styles/variables';
@import '~styles/mixins';
@import '~styles/shared';

// BanglaMN
@include font-face(BanglaMN, '../assets/fonts/BanglaMN', null, null, ttf);

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bangla;
}

// sticky footer
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Main {
  flex: 1;

  @media (max-width: $tablet) {
    padding-top: 120px;
  }
}

.ui.modals {
  background: rgba(6, 85, 116, 0.85);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  // backdrop
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80%;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.0001) 10.29%,
      #000000 100%
    );
  }
}

img {
  max-width: 100%;
}
