@import '~styles/variables';

.ProgressBar.ui.progress {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: $white100;
  border-radius: 0;
}
.ProgressBar.ui.progress .bar {
  background: $blue100;
  height: 0.75em;
  border-radius: 0;
}
