@import '~styles/variables';

.StoreSingleProductDetails {
  background-color: $gray300;
  padding: 48px 32px;

  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 40px auto;
  grid-gap: 90px;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  &__image {
    grid-row: 1 / span 2;
    width: 100%;
  }
}
