@import '~styles/variables';

.UserListItem {
  display: flex !important;
  align-items: center;

  &__content {
    flex: 1;

    i {
      font-size: 16px;
      color: $primary;
    }

    span {
      font-size: 18px;
      margin-left: 10px;
      font-weight: bold;
    }
  }
}
